.logEntryRow {
  &:hover {
    @apply border border-double;

    &.yellow {
      @apply border-yellow-400
    }

    &.red {
      @apply border-red-400;
    }

    &.blue {
      @apply border-blue-400;
    }
  }
}
